header
  ul#hours-location
    li
      |Di&mdash;Do 17:00&mdash;1:00
    li
      |Fr&mdash;Sa 17:00&mdash;2:00
    li
      |Sedanplatz 9
    li 
      |65183 Wiesbaden
  div#header-logo-social-icons
    img(id="logo",src="/assets/logo.png" alt="")
    a(href="https://www.facebook.com/schoppenhofwiesbaden/", target="_new") 
      img(src="/assets/social-fb.png")
    a(href="https://plus.google.com/+SchoppenhofWiesbaden", target="_new") 
      img(src="/assets/social-g-plus.png")