header
  img(id="header-img", src="/assets/header.jpg" alt="")
  img(id="logo",src="/assets/logo-2.png" alt="")
  div#header-logo-social-icons
    a 
      img(src="/assets/social-fb.png")
    a 
      img(src="/assets/social-g-plus.png")
div#header-contact 
  |Di-Do 17:00 - 1:00, Fr-Sa 17:00 - 2:00 &nbsp;&nbsp;| &nbsp;&nbsp;Sedanplatz 965183 Wiesbaden