<!-- Facebook OpenGraph -->
meta(property="fb:profile_id" content="314494352017935")
meta(property="og:type" content="website")
meta(property="og:locale" content="de_DE")
meta(property="og:url" content="http://schoppenhof-wiesbaden.de")
meta(property="og:title" content="Schoppenhof Wiesbaden")
meta(property="og:description" content="Das neue Apfelweinlokal in Wiesbaden")
meta(property="og:image" content="http://schoppenhof-wiesbaden.de/assets/og-image.png")
meta(property="og:image:type" content="image/png")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")
meta(property="og:site_name" content="Schoppenhof Wiesbaden")
meta(property="og:see_also" content="https://www.facebook.com/pg/schoppenhofwiesbaden")
title 
  EBBELWOI &amp; MEHR &#8211; Die neue Apfelwein Kneipe in Wiesbaden