nav
  p menu
  ul
    li 
      a#getranke-nav(href="/") Getränke
    li
      a#speisen-nav(href="/speisen") Speisen
    li
      a#lage-zeiten-nav(href="/lage-zeiten") Lage &amp; Zeiten
    li
      a#kontakt-nav(href="/kontakt") Kontakt