html(lang="de-DE")
  head
    - var link = '/speisen/'
    include ../includes/_meta.pug
    link(rel="stylesheet", href="../css/main.css")
  body#speisen
    include ../includes/_header.pug
    include ../includes/_nav.pug
    div.h2-decoration 
      h2 N GUUDE
    div.grid.menu-container.menu-container_wreath
      section.column-1-1
        h3.menu-category.menu-category_extra-margin Vorspeisen
        ul 
          li
            span.menu-item-name_inline Brezel mit Spundekäs, 
            div.menu-item-price-list
              span.price 2,80 €
          li
            span.menu-item-name_inline Handkäs 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Musik, Brot und Butter
            div.menu-item-price-list
              span.price 4,60 €
          li
            span.menu-item-name_inline Handkäs „Schoppen Hof“ 
            br.mobile-lr 
            span.menu-item-desc_inline_normal-font mit Musik, roten Zwiebeln, 
              br.mobile-lr
              |Radieschen und Kresse
            div.menu-item-price-list
              span.price 5,20 €
          li
            span.menu-item-name_inline Hausgemachter Wurstsalat 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font in einer Vinaigrette mit Brot und Butter
            div.menu-item-price-list
              span.price 6,20 €
          li
            span.menu-item-name_inline Großer bunter Salatteller
            div.menu-item-price-list
              span.price 6,40 €
          li
            span.menu-item-name_inline Kleiner bunter Salatteller
            div.menu-item-price-list
              span.price 3,40 €
        h3.menu-category.menu-category_extra-margin HauptSpeisen
        ul 
          li
            span.menu-item-name_inline Grüne Soße 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Petersilienkartoffeln und 
              br.mobile-lr
              |gekochten Bioeiern
            div.menu-item-price-list
              span.price 7,80 €
          li
            span.menu-item-name_inline Grobe Bratwurst 
            br.mobile-lr 
            span.menu-item-desc_inline_normal-font mit Kartoffelsalat und 
              br.mobile-lr
              |Salatbeilage
            div.menu-item-price-list
              span.price 7,20 €
          li
            span.menu-item-name_inline Matjes hausgemacht 
            br.mobile-lr 
            span.menu-item-desc_inline_normal-font mit Äpfelchen, 
              br.mobile-lr
              |roten Zwiebelringen 
              br.mobile-lr
              |und Bratkartoffeln
            div.menu-item-price-list
              span.price 8,80 €
          li
            span.menu-item-name_inline Großer Salatteller 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit gebratenen Maultaschen und Röstzwiebeln
            br 
            div.price-align-bottom
              span.menu-item-desc_inline_normal-font (auch mit vegetarischen 
                br.mobile-lr
                |Maultaschen erhältlich)
              div.menu-item-price-list
                span.price 8,80 €
          li
            span.menu-item-name_inline Schoppen Hofs Salatteller 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Handkäscarpaccio, Walnüssen 
              br.mobile-lr
              |und Apfelweinvinaigrette
            div.menu-item-price-list
              span.price 8,60 €
          li
            span.menu-item-name_inline Großer Salatteller 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Ziegenkäseröllchen
            div.menu-item-price-list
              span.price 8,80 €
          li
            span.menu-item-name_inline Käsespätzle 
            br.mobile-lr 
            span.menu-item-desc_inline_normal-font mit Röstzwiebeln 
              br.mobile-lr
              |und Salat
            div.menu-item-price-list
              span.price 8,60 €
          li
            span.menu-item-name_inline Saftig gekochtes Rippchen 
            br.mobile-lr 
            span.menu-item-desc_inline_normal-font mit Bratkartoffeln und Salat 
            div.menu-item-price-list
              span.price 11,80 €
          li
            span.menu-item-name_inline Schnitzel Wiener Art 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Pommes Frites und Salat
            div.menu-item-price-list
              span.price 11,90 €
          li
            span.menu-item-name_inline Frankfurter Schnitzel 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Grüner Soße und Bratkartoffeln
            div.menu-item-price-list
              span.price 12,80 €
          li
            span.menu-item-name_inline Handkässchnitzel „Schoppen Hof Style” 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Zwiebel-Apfelsud, dazu Bratkartoffeln
              br.mobile-lr
              |und Salat
            div.menu-item-price-list
              span.price 13,40 €
          li
            span.menu-item-name_inline Kalbsschnitzel paniert 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Kartoffelsalat und kleinem Salat
            div.menu-item-price-list
              span.price 14,80 €
          li
            span.menu-item-name_inline Kalbsschnitzel paniert 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Grüner Soße und Bratkartoffeln
            div.menu-item-price-list
              span.price 15,80 €
          li
            span.menu-item-name_inline Rumpsteak 
            br.mobile-lr
            span.menu-item-desc_inline_normal-font mit Kräuterbutter 
              br.mobile-lr
              |oder Rotweinzwiebeln, 
              br.mobile-lr
              |dazu Bratkartoffeln und Salat
            div.menu-item-price-list
              span.price 15,90 €
        h3.menu-category.menu-category_extra-margin NachSpeisen
        ul 
          li
            span.menu-item-name_inline Schokoladeneis mit Sahne
            div.menu-item-price-list
              span.price 3,80 €
          li
            span.menu-item-name_inline Vanilleeis mit frischen Erdbeeren 
              br.mobile-lr
              |und Sahne 
            div.menu-item-price-list
              span.price 4,90 €
          li
            span.menu-item-name_inline Hessisches Apfeltiramisu im Glas 
            div.menu-item-price-list
              span.price 3,90 €
        h3.menu-category.menu-category_extra-margin Für Kleine Gäste
        ul 
          li
            span.menu-item-name_inline Pommes Frites
            div.menu-item-price-list
              span.price 3,00 €
          li
            span.menu-item-name_inline Schnitzel Wiener Art mit Pommes
            div.menu-item-price-list
              span.price 6,50 €
          li
            span.menu-item-name_inline Bratkartoffeln mit Salat
            div.menu-item-price-list
              span.price 4,50 €
          li
            span.menu-item-name_inline Nürnberger Bratwürstchen 
              br.mobile-lr
              |mit Pommes
            div.menu-item-price-list
              span.price 4,80 €
