html
  head
    - var link = '/kontakt'
    include ../includes/_meta.pug
    link(rel="stylesheet", href="../css/main.css")
  body#contact
    include ../includes/_header
    include ../includes/_nav
    div.h2-decoration 
      h2 KONTAKT
    div.grid
      section.location-copy
        div#location
          p 
            |Schoppenhof 
            br
            |Inh. Martin Hoenes
            br
            |Sedanplatz 9
            br
            |65183 Wiesbaden
            br 
            |0611 44866961
            br
            a(href="mailto:mail@schoppenhof-wiesbaden.de") mail@schoppenhof-wiesbaden.de
            br
            span Reservierungen bitte nur telefonisch von Di-Sa ab 17.00 Uhr.
        div#opening-hours
          ul
            li 
              span.day Dienstag	
              span.hour 17:00&mdash;1:00
            li 
              span.day Mittwoch
              span.hour 17:00&mdash;1:00
            li 
              span.day Donnerstag
              span.hour 17:00&mdash;1:00
            li 
              span.day Freitag
              span.hour 17:00&mdash;2:00
            li 
              span.day Samstag
              span.hour 17:00&mdash;2:00
      section#impressum
        h2 Impressum:

        p Angaben gemäß §5 TMG
        h3 Herausgeber/ Domaininhaber
        p
          |Martin Hönes/ 
          br 
          |Schoppen Hof
          br 
          |Sedanplatz 9
          br 
          |65183 Wiesbaden

        h3 Inhaber/ Vertretungsberechtigter
        p
          |Martin Hönes
          br 
          |Adresse s.o.
          br 
          |hoenes.martin@gmx.de
          br 
          |0611/44866961

        h3 Inhaltlich Verantwortlicher
        p 
          |Martin Hönes
          br 
          |gemäß §55 Abs.2RStV
          br 
          |Adresse s.o.
          br 
          |Zuständige Aufsichtsbehörde
          br 
          |Gewerbeamt Stadt Wiesbaden