html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type="text/javascript",src="http://fast.fonts.net/jsapi/3fa2210f-af24-4cd0-a9fe-a0f176f344e5.js")
    link(rel="stylesheet", href="../css/main.css")
  body#contact
    include ../includes/_header
    include ../includes/_nav
    div.h2-decoration 
      h2 KONTAKT
    div.grid
      //- section.column-1-2
      //-   div#map
      section.location-copy
        div#location
          p 
            |Schoppenhof 
            br
            |Inh. Martin Hoenes
            br
            |Sedanplatz 9
            br
            |65183 Wiesbaden
            br 
            |0611 44866961
            br
            a(href="mailto:mail@schoppenhof-wiesbaden.de") mail@schoppenhof-wiesbaden.de
            br
            span Reservierungen bitte nur telefonisch von Di-Sa ab 17.00 Uhr.
        div#opening-hours
          ul
            li 
              span.day Dienstag	
              span.hour 17:00&mdash;1:00
            li 
              span.day Mittwoch
              span.hour 17:00&mdash;1:00
            li 
              span.day Donnerstag
              span.hour 17:00&mdash;1:00
            li 
              span.day Freitag
              span.hour 17:00&mdash;2:00
            li 
              span.day Samstag
              span.hour 17:00&mdash;2:00