html
  head
    - var link = '/kontakt'
    include ../includes/_meta.pug
    link(rel="stylesheet", href="../css/main.css")
  body
    include ../includes/_header
    include ../includes/_nav
    div.h2-decoration 
      h2 IMPRESSUM
    div.grid
      section.location-copy
          h3 DATENSCHUTZERKLÄRUNG
          h4 Grundlegendes
          p
            |Diese Datenschutzerklärung soll die Nutzer dieser Website über die Art, den Umfang und den Zweck der Erhebung und Verwendung personenbezogener Daten durch den Websitebetreiber Martin Hönes- Schoppenhof Wiesbaden informieren.
            |Der Websitebetreiber nimmt Ihren Datenschutz sehr ernst und behandelt Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Vorschriften. Da durch neue Technologien und die ständige Weiterentwicklung dieser Webseite Änderungen an dieser Datenschutzerklärung vorgenommen werden können, empfehlen wir Ihnen sich die Datenschutzerklärung in regelmäßigen Abständen wieder durchzulesen.
            |Definitionen der verwendeten Begriffe (z.B. “personenbezogene Daten” oder “Verarbeitung”) finden Sie in Art. 4 DSGVO.
          h4 Verantwortliche Stelle
          p
            |Verantwortlicher im Sinne des Art. 4 Nr. 7 DSGVO, der sonstigen in den Mitgliedstaaten der Europäischen Union geltenden Datenschutzgesetze und anderer Vorschriften mit Bestimmungen datenschutzrechtlichem Charakter ist:
            br
            |Schoppenhof 
            br
            |Herr Martin Hönes 
            br
            |Sedanplatz 9
            br
            |D-65183 Wiesbaden, Germany
            br
            |Tel/Fax: ++49.611 44866961
            br
            |Weitere Einzelheiten zur verantwortlichen Stelle können Sie unserem Impressum entnehmen.
          h4
            |Datenerfassung beim Besuch unserer Website
          p
            |Bei der bloß informatorischen Nutzung unserer Website, also wenn Sie sich nicht registrieren oder uns anderweitig Informationen übermitteln, erheben wir nur solche Daten, die Ihr Browser an unseren Server übermittelt (sog. „Server-Logfiles“). Wenn Sie unsere Website aufrufen, erheben wir die folgenden Daten, die für uns technisch erforderlich sind, um Ihnen die Website anzuzeigen:
            br
            |Unsere besuchte Website
            br
            |Datum und Uhrzeit zum Zeitpunkt des Zugriffes
            br
            |Menge der gesendeten Daten in Byte
            br
            |Quelle/Verweis, von welchem Sie auf die Seite gelangten
            br
            |Verwendeter Browser
            br
            |Verwendetes Betriebssystem
            br
            |Verwendete IP-Adresse (ggf.: in anonymisierter Form)
            br
            |Die Verarbeitung erfolgt gemäß Art. 6 Abs. 1 lit. f DSGVO auf Basis unseres berechtigten Interesses an der Verbesserung der Stabilität und Funktionalität unserer Website. Eine Weitergabe oder anderweitige Verwendung der Daten findet nicht statt. Wir behalten uns allerdings vor, die Server-Logfiles nachträglich zu überprüfen, sollten konkrete Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.
          h4 Zugriffsdaten
          p Wir, Stefan Kaden - Apfelweingaststätte Atschel, erheben und speichern grundsätzlich keinerlei personenbezogene Daten, allerdings werden aufgrund unseres berechtigten Interesses (s. Art. 6 Abs. 1 lit. f. DSGVO) Daten über Zugriffe auf die Website durch unseren Internetprovider erhoben und als „Server-Logfiles“ auf dem Server der Website gespeichert. Folgende Daten werden so protokolliert:
          p
            ul
              li Besuchte Website 
              li Uhrzeit zum Zeitpunkt des Zugriffes 
              li Menge der gesendeten Daten in Byte 
              li Quelle/Verweis, von welchem Sie auf die Seite gelangten 
              li Verwendeter Browser 
              li Verwendetes Betriebssystem 
              li Verwendete IP-Adresse 
          p
            |Die Server-Logfiles werden von unserem Internetprovider für maximal 7 Tage gespeichert und anschließend gelöscht. Die Speicherung der Daten erfolgt aus Sicherheitsgründen, um z. B. Missbrauchsfälle aufklären zu können. Müssen Daten aus Beweisgründen aufgehoben werden, sind sie solange von der Löschung ausgenommen bis der Vorfall endgültig geklärt ist.
          h4  
            |Reichweitenmessung &amp; Cookies
          p
            |Diese Website verwendet KEINE Cookies zur pseudonymisierten Reichweitenmessung, die entweder von unserem Server oder dem Server Dritter an den Browser des Nutzers übertragen werden.
            br
            |Erfassung und Verarbeitung personenbezogener Daten
            br
            |Martin Hönes- Schoppenhof Wiesbaden erhebt, nutzt und speichert keine Ihrer personenbezogenen Daten.
            br
            |Als personenbezogene Daten gelten sämtliche Informationen, welche dazu dienen, Ihre Person zu bestimmen und welche zu Ihnen zurückverfolgt werden können – also beispielsweise Ihr Name, Ihre E-Mail-Adresse und Telefonnummer.
            br
            |Diese Website können Sie auch besuchen, ohne Angaben zu Ihrer Person zu machen. Zur Verbesserung unseres Online-Angebotes speichern wir jedoch unter Umständen (ohne Personenbezug) Ihre Zugriffsdaten auf diese Website. Zu diesen Zugriffsdaten gehören z. B. die von Ihnen angeforderte Datei oder der Name Ihres Internet-Providers. Durch die Anonymisierung der Daten sind Rückschlüsse auf Ihre Person nicht möglich.
            br
            |Umgang mit Kontaktdaten
            br
            |Nehmen Sie mit uns als Websitebetreiber durch die angebotenen Kontaktmöglichkeiten Verbindung auf, werden Ihre Angaben gespeichert, damit auf diese zur Bearbeitung und Beantwortung Ihrer Anfrage zurückgegriffen werden kann. Ohne Ihre Einwilligung werden diese Daten nicht an Dritte weitergegeben.
            br
            |Google Analytics und Tracking-Systeme
            br
            |Diese Website nutzt NICHT Google Analytics und auch keinerlei Tracking-Systeme
            br
          h4 Nutzung von Social-Media-Plugins von Facebook
          p Aufgrund unseres berechtigten Interesses an der Analyse, Optimierung und dem Betrieb unseres Online-Angebotes (im Sinne des Art. 6 Abs. 1 lit. f. DSGVO), verwendet diese Website das Facebook-Social-Plugin, welches von der Facebook Inc. (1 Hacker Way, Menlo Park, California 94025, USA) betrieben wird. Erkennbar sind die Einbindungen an dem Facebook-Logo in den Farben Facebooks (Blau und Weiß). Informationen zu allen Facebook-Plugins finden Sie über den folgenden Link: <a target=top href="https://developers.facebook.com/docs/plugins/">https://developers.facebook.com/docs/plugins/</a>
            br
            |Facebook Inc. hält das europäische Datenschutzrecht ein und ist unter dem Privacy-Shield-Abkommen zertifiziert:
            br
            |<a target=top href="https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active">https://www.privacyshield.gov/participant?id=a2zt0000000GnywAAC&status=Active</a>
            br
            br
            |Das Plugin stellt eine direkte Verbindung zwischen Ihrem Browser und den Facebook-Servern her. Der Websitebetreiber hat keinerlei Einfluss auf die Natur und den Umfang der Daten, welche das Plugin an die Server der Facebook Inc. übermittelt. Informationen dazu finden Sie hier:<BR> <A target = top HREF="https://www.facebook.com/help/186325668085084">https://www.facebook.com/help/186325668085084</A><BR> Das Plugin informiert die Facebook Inc. darüber, dass Sie als Nutzer diese Website besucht haben. Es besteht hierbei die Möglichkeit, dass Ihre IP-Adresse gespeichert wird. Sind Sie während des Besuchs auf dieser Website in Ihrem Facebook-Konto eingeloggt, werden die genannten Informationen mit diesem verknüpft.</B> Möchten Sie verhindern, dass die Facebook. Inc. diese Daten mit Ihrem Facebook-Konto verknüpft, loggen Sie sich bitte vor dem Besuch dieser Website bei Facebook aus und löschen Sie die gespeicherten Cookies. Über Ihr Facebook-Profil können Sie weitere Einstellungen zur Datenverarbeitung für Werbezwecke tätigen oder der Nutzung Ihrer Daten für Werbezwecke widersprechen. Zu den Einstellungen gelangen Sie hier:<BR> Profileinstellungen bei Facebook: <BR><A target = top HREF="https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen">https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen</A><BR> Cookie-Deaktivierungsseite der US-amerikanischen Website:<BR> <A target = top HREF="http://optout.aboutads.info/?c=2#!/">http://optout.aboutads.info/?c=2#!/</A><BR> Cookie-Deaktivierungsseite der europäischen Website:<BR> <A target = top HREF="http://optout.networkadvertising.org/?c=1#!/">http://optout.networkadvertising.org/?c=1#!/</A><BR> Welche Daten, zu welchem Zweck und in welchem Umfang Facebook Daten erhebt, nutzt und verarbeitet und welche Rechte sowie Einstellungsmöglichkeiten Sie zum Schutz Ihrer Privatsphäre haben, können Sie in den Datenschutzrichtlinien von Facebook nachlesen. Diese finden Sie hier:
            br
            |<a target=top href="https://www.facebook.com/about/privacy/">https://www.facebook.com/about/privacy/</a>
          h4 Rechte des Nutzers
          p Sie haben als Nutzer das Recht, auf Antrag eine kostenlose Auskunft darüber zu erhalten, welche personenbezogenen Daten über Sie gespeichert wurden. Sie haben außerdem das Recht auf Berichtigung falscher Daten und auf die Verarbeitungseinschränkung oder Löschung Ihrer personenbezogenen Daten. Falls zutreffend, können Sie auch Ihr Recht auf Datenportabilität geltend machen. Sollten Sie annehmen, dass Ihre Daten unrechtmäßig verarbeitet wurden, können Sie eine Beschwerde bei der zuständigen Aufsichtsbehörde einreichen.
          h4 Löschung von Daten
          p Sofern Ihr Wunsch nicht mit einer gesetzlichen Pflicht zur Aufbewahrung von Daten (z. B. Vorratsdatenspeicherung) kollidiert, haben Sie ein Anrecht auf Löschung Ihrer Daten. Von uns gespeicherte Daten werden, sollten sie für ihre Zweckbestimmung nicht mehr vonnöten sein und es keine gesetzlichen Aufbewahrungsfristen geben, gelöscht. Falls eine Löschung nicht durchgeführt werden kann, da die Daten für zulässige gesetzliche Zwecke erforderlich sind, erfolgt eine Einschränkung der Datenverarbeitung. In diesem Fall werden die Daten gesperrt und nicht für andere Zwecke verarbeitet.
          h4 Widerspruchsrecht
          p Nutzer dieser Webseite können von ihrem Widerspruchsrecht Gebrauch machen und der Verarbeitung ihrer personenbezogenen Daten zu jeder Zeit widersprechen.
          p Wenn Sie eine Berichtigung, Sperrung, Löschung oder Auskunft über die zu Ihrer Person gespeicherten personenbezogenen Daten wünschen oder Fragen bzgl. der Erhebung, Verarbeitung oder Verwendung Ihrer personenbezogenen Daten haben oder erteilte Einwilligungen widerrufen möchten, wenden Sie sich bitte an folgende E-Mail-Adresse: info@schoppenhof-wiesbaden.de