#contact
  section 
    font-size: 20px
    font-weight: bold
  section#impressum
    font-size: 16px
    font-weight: normal
    h2, h3
      text-align: center
      margin-bottom: 5px
  p  
    text-align: center
    margin-top: 0
  #opening-hours
    ul 
      padding: 0
      margin: 0
      list-style-type: none
      width: 25%
      position: relative
      left: 50%
      transform: translateX(-50%)
  .hour 
    float: right

  #map
    width: 100%
    padding-top: 100%
    
  .reservation
    display: block
    margin-top: 10px
    font-size: 12px
    font-style: italic

@media screen and (max-width: break-point)
  #contact 
    #opening-hours
      ul
        width: 80%
  .location-copy
    margin-top: 20px
  #location-times
    #opening-hours
      .hour
        margin-right: 0
