footer 
  background-color: #2B2A2A
  padding: 20px 0
  margin-top: 40px
  ul
    margin: 0
    display: flex
    list-style-type: none
    color: #E1CC8A
    justify-content: space-between
  ul.grid 
    padding: 0 20px
    li 
      a 
        color: #E1CC8A
