grid-margin = 10px
.grid
  padding: 0 grid-margin
  box-sizing: border-box
  overflow: hidden
  max-width: 900px
  margin: 0 auto
  position: relative
  
  .column-1-1
    float: none
    padding: 0 grid-margin
    width: 100%
    box-sizing: border-box

  .column-1-2
    float: left
    padding: 0 grid-margin
    width: 50%
    box-sizing: border-box

@media screen and (max-width: break-point)
  .grid
    max-width: 450px
    .column-1-2
      float: none
      width: 100%