header 
  background-color: primary
  position: relative

  #logo 
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: calc(50% - 40px)
    max-width: 400px
    
  #header-img  
    width: 100% 
    max-width: 2048px
    
#header-contact
  padding: 20px
  background-color: primary
  color: #E1CC8A
  text-align: center
  font-size: 15px
      