#location-times
  #opening-hours, #location
    h3 
      margin: 20px 0 20px
  #opening-hours
    h3 
      margin-top: 0
  ul 
    padding: 0
    margin: 0
    list-style-type: none
  .hour 
    float: right
    margin-right: 40%

  #map
    width: 100%
    padding-top: 100%
    
.reservation
  display: block
  margin-top: 10px
  font-size: 12px
  font-style: italic

@media screen and (max-width: break-point)
  .location-copy
    margin-top: 20px
  #location-times
    #opening-hours
      .hour
        margin-right: 0
