font-family = 'linux_biolinum_oregular'
body-font-size = 14px
bg-color = #FFF
break-point = 768px
primary = #2b2a2a
secondary = #CFAC23

@font-face 
    font-family: 'linux_biolinum_oregular'
    src: url('/assets/fonts/linbiolinum_r-webfont.woff2') format('woff2'),
         url('/assets/fonts/linbiolinum_r-webfont.woff') format('woff')
    font-weight: normal
    font-style: normal