html(lang="de-DE")
  head
    include includes/_meta.pug
    link(rel="stylesheet", href="./css/main.css")
  body#main
    include includes/_header.pug
    include includes/_nav.pug
    div.h2-decoration 
      h2 HALS ENOI
    div.grid.menu-container.menu-container_apple
      section.column-1-2
        h3.menu-category Unsere Apfelweine
        ul 
          li.extra-margin-bottom 
            span.menu-item-name Speierling klar 
              sup 6
            span.menu-item-brand Kelterei Heil
            span.menu-item-desc Nach unseren Vorstellungen gekeltert
            div.menu-item-price-list
              span.quantity 0,25l 
              span.price 2,00 €
              span.quantity 0,5l 
              span.price 3,30 €

          li.extra-margin-bottom 
            span.menu-item-name E sauber 
              br.mobile-lr 
              |Stöffche
            span.menu-item-brand Kelterei Matsch und Brei
            div.menu-item-price-list
              span.quantity 0,25l 
              span.price 2,00 €
              span.quantity 0,5l 
              span.price 3,30 €

          li.extra-margin-bottom 
            span.menu-item-name Apfelwein 
              br.mobile-lr
              |alkoholfrei 
              sup 6
            div.menu-item-price-list
              span.quantity 0,25l 
              span.price 2,00 €
              span.quantity 0,5l 
              span.price 3,30 €

          li.extra-margin-bottom 
            span.menu-item-name Birnenwein 
              sup 6
            div.menu-item-price-list
              span.quantity 0,25l 
              span.price 2,00 €
              span.quantity 0,5l 
              span.price 3,30 €

          li.extra-margin-bottom 
            span.menu-item-name Bembel
            div.menu-item-price-list
              span.quantity 1l 
              span.price 6,60 €
              span.quantity 1,5l 
              span.price 9,70 €
              span.quantity 2l 
              span.price 12,80 €
              span.quantity 3l 
              span.price 19,20 €

          li.extra-margin-bottom 
            span.menu-item-name FLASCHE 0,75
              div.price-align-bottom
                | Sortenreiner Apfelwein
                br.mobile-lr
                | aus Bohnäpfeln 
                sup 6
                  span.menu-item-brand Kelterei Heil
                    div.menu-item-price-list
                      span.price 9,80 €

          li.extra-margin-bottom 
            span.menu-item-name Sortenreiner 
              br.mobile-lr
              |Premiumapfelwein
              div.price-align-bottom
                | aus Jonagold 
                sup 6
                  span.menu-item-brand Kelterei Nöll
                    div.menu-item-price-list
                      span.price 15,80 €

          li.extra-margin-bottom 
            span.menu-item-name Sortenreiner 
              br.mobile-lr
              |Premiumapfelwein
              div.price-align-bottom
                | aus Schöner von Boskoop
                sup 6
                  span.menu-item-brand Kelterei Nöll
                    div.menu-item-price-list
                      span.price 15,80 €

        h3.menu-category Biere
        ul 
          li
            span.menu-item-name Büble Edelbräu
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 2,10 €
              span.quantity 0,4l 
              span.price 3,30 €

          li.menu-item_small-margin
            span.menu-item-name Büble Bayrisch 
              br.mobile-lr
              |hell
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 2,10 €
              span.quantity 0,4l 
              span.price 3,30 €

          li
            span.menu-item-name Büble Edelweissbier
            div.menu-item-price-list
              span.quantity 0,5l 
              span.price 3,60 €

          li
            span.menu-item-name Büble Edelweissbier Alkoholfrei
            div.menu-item-price-list
              span.quantity 0,5l 
              span.price 3,60 €

          li
            span.menu-item-name Büble Radler naturtrüb 
              sup 2
            div.menu-item-price-list
              span.quantity 0,5l 
              span.price 3,60 €

          li
            span.menu-item-name Clausthaler Extra Herb
            div.menu-item-price-list
              span.quantity 0,33l 
              span.price 2,80 €

        h3.menu-category Alkoholfrei
        ul 
          li 
            span.menu-item-name Selters 
              br.mobile-lr
              |classic
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 1,80 €
              span.quantity 0,4l 
              span.price 2,90 €
              span.quantity 0,7l 
              span.price 3,80 €

          li 
            span.menu-item-name Wasser 
              br.mobile-lr
              |still
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 1,80 €
              span.quantity 0,4l 
              span.price 2,90 €
              span.quantity 0,7l 
              span.price 3,80 €

          li 
            span.menu-item-name Coca-Cola  
              sup 1,3,4
              |,
              br.mobile-lr
              | Spezi 
              sup 1,3,4
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 2,20 €
              span.quantity 0,4l 
              span.price 3,50 €

          li 
            span.menu-item-name Orangen-  
              sup 1,3
            div.price-align-bottom
              span.menu-item-name Zitronenlimo
              div.menu-item-price-list
                span.quantity 0,2l 
                span.price 1,90 €
                span.quantity 0,4l 
                span.price 3,20 €
                span.quantity 0,7l 
                span.price 3,80 €

          li 
            span.menu-item-name Kraftmalz
            div.menu-item-price-list
              span.quantity 0,33l 
              span.price 2,60 €

        h3.menu-category Säfte / Nektare
        ul 
          li 
            span.menu-item-name Apfelsaft
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 2,20 €
              span.quantity 0,4l 
              span.price 3,60 €

          li 
            span.menu-item-name Orangensaft
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 2,20 €
              span.quantity 0,4l 
              span.price 3,60 €

          li 
            span.menu-item-name Birnensaft
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 2,20 €
              span.quantity 0,4l 
              span.price 3,60 €

          li 
            span.menu-item-name Traubensaft weiß
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 2,20 €
              span.quantity 0,4l 
              span.price 3,60 €

          li 
            span.menu-item-name Johannisbeernektar
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 2,20 €
              span.quantity 0,4l 
              span.price 3,60 €

          li 
            span.menu-item-name Schorle
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 2,00 €
              span.quantity 0,4l 
              span.price 3,30 €

        h3.menu-category Heiße Getränke
        ul 
          li 
            span.menu-item-name Espresso
            div.menu-item-price-list
              span.price 1,60 €

          li 
            span.menu-item-name Tasse Kaffee
            div.menu-item-price-list
              span.price 2,20 €

      section.column-1-2
        h3.menu-category Weine Weiß
        ul 
          li.extra-margin-bottom  
            span.menu-item-name Riesling 
              span.menu-item-name_small trocken 
              sup 6
            span.menu-item-brand Hirt Gebhardt, 
              span.menu-item-desc_inline Rauenthaler Steinmächer
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 4,10 €
              span.quantity 1l 
              span.price 19,00 €

          li.extra-margin-bottom  
            span.menu-item-name Riesling 
              span.menu-item-name_small trocken 
              sup 6
            span.menu-item-brand 50 °, 
              span.menu-item-desc_inline Johannisberg Rheingau
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 5,10 €
              span.quantity 1l 
              span.price 17,80 €

          li.extra-margin-bottom  
            span.menu-item-name Müller-Thurgau 
              br.mobile-lr 
              span.menu-item-name_small halbtrocken 
              sup 6
            span.menu-item-brand Köster-Wolf, 
              span.menu-item-desc_inline Rheinhessen
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 3,90 €
              span.quantity 1l 
              span.price 19,00 €

          li.extra-margin-bottom  
            span.menu-item-name Weisser 
              br.mobile-lr
              |Burgunder 
              span.menu-item-name_small trocken 
              sup 6
            span.menu-item-brand Köster-Wolf, 
              span.menu-item-desc_inline Rheinhessen
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 4,90 €
              span.quantity 0,75l 
              span.price 17,00 €

        h3.menu-category Rosé
        ul 
          li
            span.menu-item-name Spätburgunder 
              br.mobile-lr
              |Weißherbst 
              sup 6
            span.menu-item-brand Bickensohler, 
              span.menu-item-desc_inline Baden
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 4,10 €
              span.quantity 1l 
              span.price 19,00 €

        h3.menu-category Weine Rot
        ul 
          li
            span.menu-item-name “Montem” 
              sup 6
            span.menu-item-brand Zweigelt, 
              span.menu-item-desc_inline Österreich
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 4,60 €
              span.quantity 1l 
              span.price 23,00 €

          li
            span.menu-item-name Bordeaux  
              sup 6
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 4,70 €
              span.quantity 1l 
              span.price 23,50 €

          li
            span.menu-item-name Sankt Laurent 
              br.mobile-lr 
              span.menu-item-name_small trocken 
              sup 6
            span.menu-item-brand Köster-Wolf, 
              span.menu-item-desc_inline Rheinhessen
            div.menu-item-price-list
              span.quantity 0,2l 
              span.price 4,90 €
              span.quantity 0,75l 
              span.price 17,10 €
        ul
          li
            h3.menu-category Sekt 
              sup 6
            div.menu-item-price-list
              span.quantity 0,2l Flasche
              span.price &nbsp;
              span.quantity &nbsp; 
              span.price 7,20 €

          li
            span.menu-item-name Premiumapfelsekt 
              br.mobile-lr
              span.menu-item-name_small trocken  
            span.menu-item-brand aus Ontario Äpfeln, 
              span.menu-item-desc_inline Kelterei Schneider
            div.menu-item-price-list
              span.quantity 0,75l 
              span.price 18,20 €

          li
            span.menu-item-name Premiumapfelsekt 
              br.mobile-lr
              span.menu-item-name_small rosé  
              br 
              span.menu-item-desc_inline Kelterei Schneider
            div.menu-item-price-list
              span.quantity 0,75l 
              span.price 18,20 €

        h3.menu-category Vermischtes
        ul 
          li
            span.menu-item-name Whiskey Cola 
              sup 1,3,4
            div.menu-item-price-list
              span.price 7,00 €

          li
            span.menu-item-name Gin Tonic 
              sup 5
            div.menu-item-price-list
              span.price 7,00 €

          li
            span.menu-item-name Wodka Orange 
            div.menu-item-price-list
              span.price 7,00 €

          li
            span.menu-item-name Cubra Libre 
              sup 1,3,4
            div.menu-item-price-list
              span.price 7,00 €

        h3.menu-category_small Schoppenhof Style
        ul 
          li
            span.menu-item-name im Bembel
            div.menu-item-price-list
              span.quantity 0,5l 
              span.price 8,50 €
              span.quantity 1l 
              span.price 17,00 €

        h3.menu-category Spiritiuosen 2 
          span.menu-category_lowercase cl
        ul 
          li
            span.menu-item-name Obstbrandspezialitäten aus dem Schwarzwald

          li 
            span.menu-item-desc_large-font Haselnuss, Himbeer, Kirsch,
              br 
              | Mirabelle, Zwetschge, Williams
            div.menu-item-price-list
              span.price 3,00 €

          li
            span.menu-item-name Obstwasser
            div.menu-item-price-list
              span.price 2,50 €

          li
            span.menu-item-name Calvados Mispelchen
            div.menu-item-price-list
              span.price 3,40 €

          li
            span.menu-item-name Aquavit
            div.menu-item-price-list
              span.price 2,90 €

          li
            span.menu-item-name Wodka
            div.menu-item-price-list
              span.price 3,00 €

          li
            span.menu-item-name Sambuca
            div.menu-item-price-list
              span.price 2,50 €

          li
            span.menu-item-name Grappa
            div.menu-item-price-list
              span.price 3,00 €

          li
            span.menu-item-name Carlos 1
            div.menu-item-price-list
              span.price 3,20 €

          li
            span.menu-item-name Ramazotti
            div.menu-item-price-list
              span.price 3,00 €

          li
            span.menu-item-name Jägermeister
            div.menu-item-price-list
              span.price 2,50 €

          li
            span.menu-item-name Dauborner Kümmel
            div.menu-item-price-list
              span.price 2,50 €

          li
            span.menu-item-name Kaffeeschnaps Co ́ps
            div.menu-item-price-list
              span.price 3,00 €

          li
            span.menu-item-name Mexikaner
            div.menu-item-price-list
              span.price 2,00 €
      
          li
            span.menu-item-name Pfeffi
            div.menu-item-price-list
              span.price 2,00 €

      ul.menu-key
        li 1) MIT FARBSTOFF
        li 2) MIT SÜSSUNGSMITTELN
        li 3) MIT ANTIOXIDATIONSMITTELN
        li 4) KOFFEINHALTIG
        li 5) CHININHALTIG
        li 6) ENTHÄLT SULFITE
      
    include includes/_footer.pug