html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type="text/javascript",src="http://fast.fonts.net/jsapi/3fa2210f-af24-4cd0-a9fe-a0f176f344e5.js")
    meta(http-equiv="refresh" content="0; url=../kontakt")
    link(rel="stylesheet", href="../css/main.css")
  body
    include ../includes/_header
    include ../includes/_nav

    h2 This content has moved.
    
    include ../includes/_footer.pug