html
  head
    meta(http-equiv="refresh" content="0; url=/")
    link(rel="stylesheet", href="../css/main.css")
  body
    include ../includes/_header
    include ../includes/_nav

    h2 This content has moved.